* {
	transition: all .2s;
}

body{


padding: 0 auto;
margin:0;

}

#sverh{


    position: sticky;
    top: 0;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-size: 30px;
    z-index: 5000;

}

#main{
	
	width:750px;
	height:500px;
	margin:0 auto;
	background-image:url(../images/klod2.jpg);
	border-radius :170px;
	display: flex;

	background-size: 100%;
}




.head{
display: flex;
justify-content: space-between;
}






.logoan{


	width: 50px;
	height: 87px;

opacity: 1;

}
.logoan:hover{
	
background-color: grey;
opacity: 0.50;

}



#item {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  font-size: 25px;
    text-align: center;
    width: 200px;
   





}
#item:hover, #item:focus {
    background-color: #696969;
}
.menu {

	margin-left: 0px;
	margin-bottom: 200px;
   
    display: inline-block;   
     border-radius: 30px;
}
  
#submenu {
    display: none;
    
    background-color: #696969;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
#submenu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
#submenu a:hover {
    background-color:black;
     

}














h1{
	
	text-align: center;
	
}



#centr{

background-repeat:no-repeat;
border-radius :170px 100px 100px 100px;
	background-position:both;
	font-size: 24px;
	text-align:center;
	font-family: Blippo;
	

	
} 

/*#colec{
	opacity:0.55;
	background-image:url(../images/colec.jpg);
	font-family: "Courier New",cursive;
	height:120px;
	width:195px;
	border-radius :50px;
	background-repeat:no-repeat;
	margin:0 auto;
	background-position:center;
	
	
}*/












#koments{

	margin: 0 auto;
	text-align: center;
}
 #comments{
    
 	font-size: 37px;
 }
 #add_comment{
 	color: black;
 	font-size: 25px;
 	opacity: 1;
 }
#textarea{
     opacity: 1;
	border: 2px solid black;
}
#done{
	opacity: 1;
	color: white;
	background-color: black;
	border: 2px solid black;
}


#textarea:hover , #done:hover , #add_comment:hover{
	opacity: 0.50;
}

















.container{
display: flex;
justify-content: space-around;



}
.plav1{
	width:180px;
	height:475px;
	background-image:url(../images/plav.jpg);
	background-position:right;
	transition:width 3s;
	-webkit-transition:width 3s;
   

	border-radius:120px;
	
	font-size:26px;
}
.plav1:hover{
	
	width:600px;

	
}
.plav2{
	width:180px;
	height:475px;
	background-image:url(../images/trav2.jpg);
	background-position:right;
	transition:width 3s;
	-webkit-transition:width 3s;

	border-radius:120px;
	text-align:left;
	font-size:26px;	
}
.plav2:hover{
	
	width:600px;
}




.plav2{
	width:180px;
	height:475px;
	background-image:url(../images/trav2.jpg);
	background-position:right;
	transition:width 3s;
	-webkit-transition:width 3s;

	border-radius:120px;
	text-align:center;
	font-size:26px;	
}
.plav2:hover{
	
	width:600px;

}

.plav3{
	width:180px;
	height:475px;
	background-image:url(../images/trav4.jpg);
	background-position:right;
	transition:width 3s;
	-webkit-transition:width 3s;

	border-radius:120px;
	text-align:center;
	font-size:26px;
	
}
.plav3:hover{
	
	width:600px;

}









#gradient{

	width:549px;
	height:86px;
	background-image:url(../images/gradd.png);
	margin:0 auto;

	border-radius :50px;  
    animation-duration: 5s; 
    animation-delay: 2s;
    animation-iteration-count: 100;

 
    
    -webkit-animation-name:gradi;    
    -webkit-animation-duration: 10s; 
   
    -webkit-animation-iteration-count:100;

}
@keyframes gradi {
    from { width: 0px; }
    to { width: 549px; }
}
@-webkit-keyframes gradi {
    from { width: 0px; }
    to { width: 549px; }
	
	
	
}

/*#count{
	font-size:26px;
	text-align:left;
	margin:70px;
	padding:0;
	margin-bottom:40px;
	transform:rotate(10deg);
 
}*/





#pict{
	font-size: 40px;
	text-align: center;

}
#clc{
padding: 0 auto;
margin: 0;
	text-align: center;
}















* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
   display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 1s ease;
border-radius: 30px;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 30px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.7);

}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}








.detali{
background-image: url(../images/kkkk.jpg);
width: 300px;
margin: 0 auto;
	height: 300px;
	background-size: 500px 500px;
 padding-left: 200px;
	background-repeat: no-repeat;
	background-size: 100%;
  
   transition:width 0.5s;
	-webkit-transition:width 0.5s;
}
.detali:hover{
	width: 500px;
	height: 500px;
	  transition:width 3s;
	
	
}









